#portal-siteactions li {
    vertical-align: top;
}

#portal-siteactions #siteaction-plone-link a {
	background: url("logo.png") no-repeat;
    background-size: contain;
    color: transparent;
    min-width: 55px;
    min-height: 14px;
    display: inline-block;
}

#portal-siteactions #siteaction-plone-link a:hover {
  color: transparent;
}

/* hide search for anonymous */
.userrole-anonymous #portal-searchbox {
  display: none;
}
